config/nyc-tlc-step-function.json
{
  "Comment": "NYC TLC Data Pipeline - Sequential processing with failure notifications",
  "StartAt": "DataIngestion",
  "States": {
    "DataIngestion": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "nyc-tlc-ingestion"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyIngestionFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "RawToCurated"
    },
    "RawToCurated": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "nyc-tlc-raw-curated-script"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyRawToCuratedFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CuratedToAggregated"
    },
    "CuratedToAggregated": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "nyc-tlc-curated-aggregated-script-updated"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyCuratedToAggregatedFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "PipelineSuccess"
    },
    "NotifyIngestionFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:162523333445:nyc-tlc-topic",
        "Subject": "NYC TLC Pipeline FAILED - Data Ingestion",
        "Message.$": "$.error"
      },
      "Next": "PipelineFailure"
    },
    "NotifyRawToCuratedFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:162523333445:nyc-tlc-topic",
        "Subject": "NYC TLC Pipeline FAILED - Raw to Curated",
        "Message.$": "$.error"
      },
      "Next": "PipelineFailure"
    },
    "NotifyCuratedToAggregatedFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:162523333445:nyc-tlc-topic",
        "Subject": "NYC TLC Pipeline FAILED - Curated to Aggregated",
        "Message.$": "$.error"
      },
      "Next": "PipelineFailure"
    },
    "PipelineSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:162523333445:nyc-tlc-topic",
        "Subject": "NYC TLC Pipeline SUCCESS",
        "Message": "All three jobs completed successfully: Data Ingestion -> Raw to Curated -> Curated to Aggregated"
      },
      "End": true
    },
    "PipelineFailure": {
      "Type": "Fail",
      "Cause": "Pipeline failed at one of the Glue jobs"
    }
  }
}